.nav-link {
    background-color: purple;
    border: 3px solid palevioletred;
    border-radius: 10px;
    margin-left: 1vw;
    margin-bottom: 1vw;
    max-width: fit-content;
    position: relative;
    text-align: center;  
    transition: 0.7s ease-in;
    
}

.nav-link:active{
    top: 1px;
    transition: ease-in;
    
  }
  
.nav-link:hover{
    bottom: 1px;
    font-weight: bolder;
    background-color: palevioletred;
    border: 3px solid purple;
    transition: 0.7s ease-in;
    
}

.navbar-brand{
    background-color: palevioletred;
    border: 3px solid purple;
    border-radius: 40px;
    position: relative;
    transition: 0.7s;
    margin-bottom: 1vw;
    transition: 0.7s ease-in;
    max-width: fit-content;
    text-align: center;
    font-weight: bold;
    margin-left: 4vw;
}

.navbar-brand:active{
    top: 1px;
    transition: ease-in;
}

.navbar-brand:hover{
    bottom: 1px;
    font-weight: bolder;
    background-color: purple;
    border: 3px solid palevioletred;
    transition: 0.7s ease-in;
}

#log{
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.flip-card {
    background-color: transparent;
   /* width: 650px;*/
    height: 500px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: palevioletred;
    font-size: 30px;
    text-align: center;
    color: purple;
  }
  
  .flip-card-back {
    background-color: palevioletred;
    color: purple;
    font-size: 15px;
    transform: rotateY(180deg);
  }

  .create {
    color: blanchedalmond;
    background-color: palevioletred;
    border: 4px solid purple;
    border-radius: 20px;
    position: relative;
    font-weight: bold;
    text-align: center;    
    margin-left: 1vw;
    transition: 0.7s ease-in;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.create:active{
    top: 1px;
    transition: ease-in;
    
  }

.create:hover{
    bottom: 1px;
    font-weight: bolder;
    background-color: purple;
    border: 4px solid palevioletred;
    transition: 0.7s ease-in;
    color: blanchedalmond;
}

#logoutBtn{
  visibility: hidden;
}

#navBtn{
  visibility: hidden;
}

#navBtn2{
  visibility: hidden;
}

#navBtn3{
  visibility: hidden;
}

#navBtn4{
  visibility: hidden;
}